/* General Style */
:local(.flexCentral) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Component Style */
:local(.modalContainer) {
  position: relative;
}
:local(.modalThemeBlack) {
  background: rgba(31, 31, 31, 0.66);
}
:local(.modalThemeWhite) {
  background: rgb(255, 255, 255, 0.9);
}
:local(.modalLargeContainer) {
  width: 85%;
  height: 65%;
  min-width: 380px;
  max-height: 500px;
  min-height: 380px;
  overflow-x: auto;
  cursor: context-menu;
}
:local(.modalMediumContainer) {
  width: 40%;
  height: 65%;
  min-width: 650px;
  max-height: 680px;
  min-height: 400px;
  overflow-x: auto;
  cursor: context-menu;
}
:local(.modalTwiceAsSmallContainer) {
  width: 40%;
  height: 60%;
  min-width: 650px;
  max-height: 400px;
  min-height: 375px;
  overflow-x: auto;
  cursor: context-menu;
}
:local(.modalSmallContainer) {
  width: 25%;
  height: 35%;
  min-width: 400px;
  max-height: 400px;
  min-height: 440px;
  overflow-x: auto;
  cursor: context-menu;
}
:local(.modalMiniContainer) {
  width: 23%;
  height: 35%;
  min-width: 400px;
  max-height: 355px;
  min-height: 350px;
  overflow-x: auto;
  cursor: context-menu;
}
:local(.modalTinyContainer) {
  width: 20%;
  height: 40%;
  min-width: 370px;
  max-height: 310px;
  min-height: 440px;
  overflow-x: auto;
  cursor: context-menu;
}
:local(.modalExtraContainer) {
  width: 285px;
  height: 185px;
  overflow-x: auto;
  cursor: context-menu;
}
@media only screen and (max-width: 1920px) {
  :local(.modalLargeContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMediumContainer) {
    width: 40%;
    height: 65%;
    min-width: 650px;
    min-height: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTwiceAsSmallContainer) {
    width: 45%;
    height: 45%;
    min-width: 650px;
    min-height: 375px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalSmallContainer) {
    width: 30%;
    height: 35%;
    min-width: 400px;
    min-height: 256px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMiniContainer) {
    width: 23%;
    height: 35%;
    min-width: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTinyContainer) {
    width: 30%;
    height: 40%;
    min-width: 370px;
    min-height: 256px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalExtraContainer) {
    width: 375px;
    height: 185px;
    overflow-x: auto;
    cursor: context-menu;
  }
}
@media only screen and (max-width: 1800px) {
  :local(.modalLargeContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMediumContainer) {
    width: 43%;
    height: 65%;
    min-width: 650px;
    min-height: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTwiceAsSmallContainer) {
    width: 40%;
    height: 60%;
    min-width: 650px;
    min-height: 375px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalSmallContainer) {
    width: 30%;
    height: 35%;
    min-width: 400px;
    min-height: 256px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMiniContainer) {
    width: 25%;
    height: 35%;
    min-width: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTinyContainer) {
    width: 30%;
    height: 40%;
    min-width: 370px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalExtraContainer) {
    width: 375px;
    height: 185px;
    overflow-x: auto;
    cursor: context-menu;
  }
}
@media only screen and (max-width: 1440px) {
  :local(.modalLargeContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMediumContainer) {
    width: 55%;
    height: 65%;
    min-width: 650px;
    min-height: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTwiceAsSmallContainer) {
    width: 55%;
    height: 60%;
    min-width: 650px;
    min-height: 375px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalSmallContainer) {
    width: 35%;
    height: 35%;
    min-width: 400px;
    min-height: 256px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMiniContainer) {
    width: 30%;
    height: 35%;
    min-width: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTinyContainer) {
    width: 30%;
    height: 40%;
    min-width: 370px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalExtraContainer) {
    width: 375px;
    height: 185px;
    overflow-x: auto;
    cursor: context-menu;
  }
}
@media only screen and (max-width: 1366px) {
  :local(.modalLargeContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMediumContainer) {
    width: 56%;
    height: 65%;
    min-width: 690px;
    min-height: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTwiceAsSmallContainer) {
    width: 50%;
    height: 50%;
    min-width: 650px;
    min-height: 375px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalSmallContainer) {
    width: 35%;
    height: 35%;
    min-width: 400px;
    min-height: 256px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMiniContainer) {
    width: 30%;
    height: 35%;
    min-width: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTinyContainer) {
    width: 30%;
    height: 40%;
    min-width: 370px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalExtraContainer) {
    width: 375px;
    height: 185px;
    overflow-x: auto;
    cursor: context-menu;
  }
}
@media only screen and (max-width: 1280px) {
  :local(.modalLargeContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMediumContainer) {
    width: 68%;
    height: 65%;
    min-width: 650px;
    min-height: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTwiceAsSmallContainer) {
    width: 55%;
    height: 50%;
    min-width: 650px;
    min-height: 375px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalSmallContainer) {
    width: 35%;
    height: 35%;
    min-width: 430px;
    min-height: 256px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMiniContainer) {
    width: 30%;
    height: 35%;
    min-width: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTinyContainer) {
    width: 30%;
    height: 40%;
    min-width: 370px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalExtraContainer) {
    width: 375px;
    height: 185px;
    overflow-x: auto;
    cursor: context-menu;
  }
}
@media only screen and (max-width: 1024px) {
  :local(.modalLargeContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMediumContainer) {
    width: 75%;
    height: 65%;
    min-width: 650px;
    min-height: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTwiceAsSmallContainer) {
    width: 60%;
    height: 50%;
    min-width: 550px;
    min-height: 375px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalSmallContainer) {
    width: 40%;
    height: 35%;
    min-width: 420px;
    min-height: 256px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMiniContainer) {
    width: 39%;
    height: 35%;
    min-width: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTinyContainer) {
    width: 30%;
    height: 40%;
    min-width: 370px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalExtraContainer) {
    width: 375px;
    height: 185px;
    overflow-x: auto;
    cursor: context-menu;
  }
}
@media only screen and (max-width: 768px) {
  :local(.modalLargeContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMediumContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    min-height: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTwiceAsSmallContainer) {
    width: 80%;
    height: 50%;
    min-width: 420px;
    min-height: 375px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalSmallContainer) {
    width: 60%;
    height: 35%;
    min-width: 410px;
    min-height: 256px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMiniContainer) {
    width: 58%;
    height: 35%;
    min-width: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTinyContainer) {
    width: 50%;
    height: 40%;
    min-width: 370px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalExtraContainer) {
    width: 375px;
    height: 185px;
    overflow-x: auto;
    cursor: context-menu;
  }
}
@media only screen and (max-width: 425px) {
  :local(.modalLargeContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMediumContainer) {
    width: 85%;
    height: 65%;
    min-width: 380px;
    min-height: 400px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTwiceAsSmallContainer) {
    width: 85%;
    height: 50%;
    min-width: 380px;
    min-height: 375px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalSmallContainer) {
    width: 85%;
    height: 35%;
    min-width: 370px;
    min-height: 256px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalMiniContainer) {
    width: 85%;
    height: 35%;
    min-width: 370px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalTinyContainer) {
    width: 85%;
    height: 40%;
    min-width: 370px;
    overflow-x: auto;
    cursor: context-menu;
  }
  :local(.modalExtraContainer) {
    width: 375px;
    height: 185px;
    overflow-x: auto;
    cursor: context-menu;
  }
}
