/* Component Style */
:local(.signInContainer) {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f4f6f8;
}
:local(.signInMainContainer) {
  height: 100%;
  margin: 0 -8px;
  position: relative;
  overflow-x: auto;
}
:local(.signInInnerContainer) {
  padding: 15vh 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
:local(.signInFormContainer) {
  width: 70%;
  min-width: 340px;
  max-width: 400px;
  height: 70%;
  min-height: 490px;
  max-height: 650px;
  padding: 30px;
  position: relative;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  border-radius: 30px;
  background: white;
}
:local(.signInFormIconContainer) {
  width: 100%;
  height: 150px;
  position: relative;
}
:local(.signInFormIconImageContainer) {
  width: 100%;
  height: 75%;
  padding: 12px;
  position: relative;
}
:local(.signInFormIconTextContainer) {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
}
:local(.signInFormInputContainer) {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  padding: 0px 30px;
  position: relative;
}
:local(.signInFormActionContainer) {
  width: 100%;
  height: 50px;
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
